:root {
  --background-color: hsl(210, 46%, 95%);
  --first-section-color: hsl(263, 55%, 52%);
  --main-font-color: hsl(0, 0%, 100%);
  --third-section-color: hsl(0, 0%, 100%);
  --second-section-color: hsl(217, 19%, 35%);
  --fourth-section-color: hsl(219, 29%, 14%);
  --third-name-color: hsl(217, 19%, 35%);
  --third-comment-color: hsl(217, 19%, 35%);
  --fourth-comment-color: hsl(0, 0%, 100%);
  --fourth-comment-desc: hsl(0, 0%, 81%);
  --main-desc-font: hsl(219, 29%, 14%);
  --paragraph-nd: hsl(0, 0%, 81%);
  --verified-color-3-4: hsl(0, 1%, 66%);
  --font-size: 13px;
  --font-family: "Barlow Semi Condensed", sans-serif;
  --font-weight-light: 500;
  --font-weight-bold: 600;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.main-section {
  width: 325px;
  display: grid;
  gap: 25px;
}

.section-general {
  width: 325px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.img {
  border-radius: 50%;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-left: 30px;
  width: 30px;
  height: 30px;
}

.verified {
  font-weight: var(--font-weight-bold);
  margin: 0;
  padding: 0;
  margin-top: 45px;
  font-size: 11px;
}

.name {
  font-weight: var(--font-weight-light);
  color: var(--main-font-color);
  margin: 0;
  margin-top: 31px;
  font-size: 13px;
}

.comment {
  font-weight: var(--font-weight-light);
  font-size: 19px;
  margin: 0 auto;
  padding: 0;
  margin-left: 30px;
  width: 246px;
}

.comment-desc {
  font-weight: var(--font-weight-light);
  margin: 0;
  padding: 0;
  padding-left: 30px;
}

.first-grid-section {
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-size: 104px 102px;
  background-position: right 32px top;
  background-color: var(--first-section-color);
  padding-bottom: 15px;
}

.first-section-img {
  border: 3px solid hsl(263, 67%, 68%);
}

.verified-first {
  color: hsl(263, 67%, 68%);
  padding-top: 5px;
  margin-left: -82px;
}

.first-comment {
  color: var(--main-font-color);
}

.first-comment-desc {
  color: hsl(263, 67%, 68%);
  width: 250px;
}

.second-grid-section {
  height: 240px;
  background-color: var(--second-section-color);
}

.verified-second {
  color: hsl(214, 10%, 57%);
  padding-top: 3px;
  margin-left: -100px;
}

.second-comment {
  color: var(--main-font-color);
}

.second-comment-desc {
  color: var(--paragraph-nd);
  margin-bottom: 30px;
  width: 265px;
  line-height: 1.4;
}

.third-grid-section {
  height: 222px;
  background-color: var(--third-section-color);
}

.third-section-name {
  color: var(--third-name-color);
  font-weight: var(--font-weight-bold);
}

.verified-third {
  color: var(--verified-color-3-4);
  font-weight: var(--font-weight-light);
  margin-left: -99px;
}

.third-comment {
  color: var(--third-comment-color);
  font-weight: var(--font-weight-bold);
}

.third-comment-desc {
  color: hsl(210, 11%, 49%);
  margin-bottom: 30px;
  width: 250px;
  line-height: 1.4;
}

.fourth-grid-section {
  height: 383px;
  background-color: var(--fourth-section-color);
}

.verified-fourth {
  color: var(--verified-color-3-4);
  font-weight: var(--font-weight-light);
  padding-top: 3px;
  margin-left: -89px;
}

.fourth-comment {
  color: var(--fourth-comment-color);
}

.fourth-comment-desc {
  color: var(--fourth-comment-desc);
  width: 262px;
  margin-bottom: 25px;
  line-height: 1.4;
}
